footer {
	position: relative;
	top: 14%;
	width: 100%;
	background-color: #00000080;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: end;
}

footer div {
	padding-right: 20px;
}
